<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="most header-title text-center">Our most popular food</h1>
        </div>
        <% if(currentUser){ %>
        <div class="most container text-center">
          <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add New Food</button>
        </div>
        <% } %>
    </div>
    <div class="row animated fadeInUpBig" style="display: flex; flex-wrap: wrap">
        <% foods.forEach(function(food){ %>
            <div class="col-md-4 col-sm-6">
               <div class="caption">
                        <h4 class="header-title"><img id="profile-img" src="<%=  %>"><%= food.author.username %></h4>
                    </div>
                <div class="thumbnail text-center">
                    <a href="/foods/<%= food._id %>"><img src="<%= food.image %>"></img>
                    <div class="caption">
                        <h4 class="header-title"><%= food.name %></h4>
                    </div>

                </div>
                </a>
            </div>
        <% }); %>
    </div>
</div>
<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="text-center header-title">Add Food</h3>
        </div>
        <div class="modal-body">
              <div class="row">
                  <div class="form-style text-center">
                    <form action="/foods" method="POST">
                        <div class="form-group">
                            <input class="form-control" type="text" name ="name" placeholder="New Food"></input>
                        </div>
                        <div class="form-group">
                          <input class="form-control" type="number" name ="price" placeholder="Total Price" min="0.01" step="0.01"></input>
                        </div>
                        <div class="form-group">
                            <label for="location">Location</label>
                            <input class="form-control" type="text" name="location" id="location" placeholder="Yosemite National Park, CA">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="image" placeholder="Image URL"></input>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" type="text" name="description" placeholder="Describe it"></textarea>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block">Submit</button><br />
                        <a href="/foods">Back to Browsing Foods</a>
                    </form>
                  </div>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<% include ../partials/footer %>
