<% include ../partials/header %>
<div class="container animated fadeInDown">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Yelpcamp</p>
            <div class="list-group">
                <li class="list-group-item active">Info one</li>
                <li class="list-group-item">Info two</li>
                <li class="list-group-item">Info three</li>
                <li class="list-group-item">Info three</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= food.image %>"/>
                <div class="caption-full">
                    <h4 class="pull-right">$9.00/night</h4>
                    <h4><a><%= food.name %></a></h4>
                    <h3><%= food.description %></h3>
                    <p>Submitted by <%= food.author.username %></p>
                    <% if(currentUser && food.author.id.equals(currentUser._id)){ %>
                      <a class="btn btn-warning" href="/foods/<%= food._id %>/edit">Edit Post</a>
                      <form id = "delete-form" class="" action="/foods/<%= food._id %>?_method=DELETE" method="post">
                        <button class="btn btn-danger">Delete</button>
                      </form>
                    <% } %>
                </div>
            </div>
            <div class="well">
              <div class="text-right">
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#commentModal">Comment</button>
              </div>
              <hr>
              <% food.comments.forEach(function(comment){ %>
                      <div class="row">
                        <div class="col-md-12">
                              <strong>Submitted by <em><%= comment.author.username %></em></strong>
                              <span class="pull-right">
                                <p>10 days ago</p>
                              </span>
                              <p><%= comment.text %></p>
                              <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                              <a class="btn btn-xs btn-warning"
                              href="/foods/<%= food._id %>/comments/<%= comment._id %>/edit">
                              Edit comment
                              </a>
                              <form id ="delete-form" action="/foods/<%= food._id %>/comments/<%= comment._id %>?_method=Delete" method="Post">
                                  <input class="btn btn-xs btn-danger" type="submit" value="Delete"></input>
                              </form>
                              <% } %>
                        </div>

                      </div>
              <% }); %>
            </div>
        </div>
    </div>
</div>
<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="commentModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="text-center header-title">Add a new comment!</h3>
        </div>
        <div class="modal-body">
          <div class="jumbotron">
          <div class="container">
              <div class="row">
                  <div class="form-style">
                  <form action="/foods/<%= food._id %>/comments" method="POST">
                      <div class="form-group">
                          <input class="form-control" type="text" name ="comment[text]" placeholder="Type your comment"></input>
                      </div>
                      <button class="btn-primary btn-block">Submit</button>
                      <a href="/foods">Back to Browsing Foods</a>
                  </form>
                  </div>
              </div>

          </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<% include ../partials/footer %>
